@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IranianSans;
  src: url(../public/font/IranianSans.ttf);
}

body {
  font-family: IranianSans;
  font-size: 18px;
}
